<%= form_with url: "/exchange_tasks", method: :post do |form| %>
  <div class="field">
    <%= form.label :account_id1 %>
    <%= form.select :account_id1, accounts %>
  </div>

  <div class="field">
    <%= form.label :account_id2 %>
    <%= form.select :account_id2, accounts %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: :any %>
  </div>

  <div class="field">
    <%= form.label :rate_limit %>
    <%= form.number_field :rate_limit, step: :any %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.select :condition, conditions %>
  </div>
  <div class="field">
    <%= form.label :date_until %>
    <%= form.datetime_select(:date_until) %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
